# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage
.coverage
.coverage.*
.pytest_cache/

# Mypy
.mypy_cache/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store

# Logs and database
*.log

# Scraped HTML
posts_html/
reddit_html_posts/

# Other
sent_emails.txt

# Demo mode files
demo_*.sc
*demo_*_settings.json 